#root {
  padding-inline: var(--spacing-5);
  padding-top: var(--spacing-6);
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing-6);
}

.theme-toggle {
  display: flex;
  align-items: center;
  font-weight: var(--font-weight-700);
  gap: var(--spacing-4);
}

.theme-label {
  text-transform: uppercase;
}

.search-bar {
  position: relative;
  background-color: var(--color-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 7px 7px var(--spacing-4);
  gap: var(--spacing-2);
  margin-bottom: var(--spacing-4);
  border-radius: var(--border-radius-2);
  box-shadow: var(--box-shadow);
}

.search-input-container {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
  background-color: var(--color-white);
  flex-grow: 1;
  justify-content: space-between;
}

.search-icon {
  height: 20px;
}

.search-input {
  background-color: inherit;
  border: none;
  width: 100%;
}

.message-toast {
  --color-toast: #f74646;
  color: var(--color-toast);
  font-weight: var(--font-weight-700);
  white-space: nowrap;
}

.search-button {
  padding: var(--spacing-3) var(--spacing-4);
  border-radius: 10px;
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
}

.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-content {
  background-color: var(--color-white);
  padding-inline: var(--spacing-5);
  padding-top: var(--spacing-6);
  padding-bottom: var(--spacing-7);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius-2);
}

.user-card {
  display: flex;
  gap: 20px;
  margin-bottom: 34px;
}

.user-handle {
  margin-bottom: 6px;
  color: #0079ff;
  display: block;
}

.user-bio {
  margin-bottom: var(--spacing-5);
  line-height: 1.92;
}

.no-bio {
  opacity: 0.75;
}

.user-stats {
  background-color: var(--color-accent);
  display: flex;
  border-radius: 10px;
  justify-content: space-between;
  padding: 18px 14px;
  margin-bottom: 24px;
}

.stats-list {
  list-style-type: none;
  display: flex;
  flex-basis: 100%;
}

.stat-item {
  text-align: center;
  flex: 1;
}

.stat-title {
  margin-bottom: var(--spacing-2);
}

.stat-value {
  font-size: var(--font-size-4);
  color: var(--color-neutral-dark);
  font-weight: var(--font-weight-700);
}

.contact-details-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
}

.svg-container {
  width: var(--spacing-6);
}

.contact-item {
  display: flex;
  min-width: var(--spacing-6);
  align-items: center;
}

.contact-info {
  color: inherit;
  text-decoration: none;
}

.not-available {
  --not-available: #a5b4cd;
  color: var(--not-available);
  pointer-events: none;
  cursor: default;
}
